:root {
    --spacing-sm2: 8px;
    --spacing-sm1: 12px;
    --spacing-md1: 16px;
    --spacing-md2: 20px;
    --spacing-lg1: 24px;
    --spacing-lg2: 32px;
    --spacing-xl: 64px;


    --white: #ffffff;
    --primary-100: #F4EBFF;
    --primary-600: #7F56D9;
    --gray-90: #f9fafb;
    --gray-200: #eaecf0;
    --gray-500: #667085;
    --gray-900: #101828;
    

    --font-size-xl: 20px;
    --font-size-sm: 14px;
    --font-size-xs: 12px;
    --line-height-parragraph: 1.42;
    --line-height-heading: 1.2;

    --box-shadow-sm: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: var(--font-size-sm);
    line-height: var(--line-height-parragraph);
    color: var(--gray-00);
}

body, html {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    line-height: var(--line-height-heading);
    margin: 0;
}

h1 {
    font-size: var(--font-size-xl);
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
}