.featured-icon {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--primary-100);
}


.transaction__board {
    h2 {
        padding-left: var(--spacing-md2);
        padding-right: var(--spacing-md2);
        margin-bottom: var(--spacing-sm2);
        margin-top: var(--spacing-md1);
    }

    .transaction {
        display: flex;
        gap: var(--spacing-sm1);
        padding: var(--spacing-md1) var(--spacing-md2);
        border-bottom: 1px solid var(--gray-200);
    
        .inner {
            display: flex;
            flex-direction: column;
    
            span:nth-child(2) {
                color: var(--gray-500);
            }
        }
    
        > span {
            margin-left: auto;
            align-self: flex-end;
            font-size: var(--font-size-xs);
            color: var(--gray-500);
        }
    }
}


.transaction__form {
    position: fixed;
    background-color: var(--base-white);
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;

    .form__header {
        display: flex;
        flex-direction: row;
        position: sticky;
        align-self: center;
        top: 0;
    
        background-color: var(--primary-600);
        box-shadow: var(--box-shadow-sm);
        color: var(--base-white);
        gap: var(--spacing-sm2);
        margin-bottom: var(--spacing-lg2);
        padding: var(--spacing-md1) var(--spacing-md2);
        padding-top: var(--spacing-lg2);
    
    
        button {
            img {
                filter: var(--filter-base-white);
            }
        }

        span.title {
            font-size: var(--font-size-xl);
            font-weight: bold;
            line-height: var(--line-height-heading);
        }
    
    }

    .inner {
        padding: var(--spacing-md2);
        padding-top: 0;

    }
}