header.main__header {
    display: flex;
    flex-direction: row;
    position: sticky;
    align-self: center;
    top: 0;

    background-color: var(--primary-600);
    box-shadow: var(--box-shadow-sm);
    color: var(--base-white);
    gap: var(--spacing-sm2);
    margin-bottom: var(--spacing-lg2);
    padding: var(--spacing-md1) var(--spacing-md2);
    padding-top: var(--spacing-lg2);


    button {
        img {
            filter: var(--filter-base-white);
        }

        &.menu {
            margin-left: auto;
        }
    }

}